extends layout

block content
  .flex-col-center(style="height: 100vh;")
    .profile-pic-container.flex-col-center
      img.profile-pic(src="https://res.cloudinary.com/lavielle/image/upload/c_scale,w_700,f_auto/v1547228593/samuelmann.co/profile-pic-bw.png")
    h1 Samuel Mann
    div Full stack developer
    div(style="height: 10px;")
    div WEB / MOBILE
    div(style="height: 20px;")
    div -* Based in Berlin *-
    div(style="height: 40px;")
    #social-links.flex-col
      .flex-row-center
        img.social-icon(src="/assets/icons/github-black.svg")
        a(href="https://github.com/LaVielle/" target="blank") lavielle
      div(style="height: 20px;")
      .flex-row-center
        img.social-icon(src="/assets/icons/instagram-black.svg")
        a(href="https://instagram.com/colakollektiv" target="blank") colakollektiv
      div(style="height: 20px;")
      .flex-row-center
        img.social-icon(src="/assets/icons/mail-black.svg")
        div samuelcmann[at]gmail[dot]com
    
    div(style="height: 80px;")
