doctype html
html
  block head
    title Samuel Mann
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    //- Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-132347405-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132347405-1');

  body
    block content
