@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  background: #f8f8f8;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
 cursor: pointer;
 text-decoration: underline;
}

.profile-pic-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#social-links {
  align-items: flex-start;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@media (max-width: 479px) {
  .profile-pic-container {
    width: 200px;
    height: 200px;
  }

  #social-links {
    font-size: 14px;
  }

  .social-icon {
    width: 17px;
    height: 17px;
    margin-right: 17px;
  }
}
