@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  background: #282828;
  color: #66ff66;
  font-family: 'IBM Plex Mono', monospace;
}

.App-line {
  margin-bottom: 5px;
}

.App-msg-holder {
  display: flex;
  flex-direction: column;
}

.App-usrmsg {
  color: #66ff66;
}

.App-username {
  margin-top: 20px;
  display: flex;
  align-self: flex-start;
  border-bottom: 1px dotted #66ff66;
}

.App-username::after {
  content: ':'
}

.App-sysmsg {
  color: #ffcc00;
}

.App-sysmsg::before {
  content: '- '
}
