@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

.App {
  padding: 50px;
  background: #282828;
  color: #66ff66;
  font-family: 'IBM Plex Mono', monospace;
}

.App-line {
  margin-bottom: 5px;
}

.App-usrmsg {
  color: #66ff66;
}

.App-sysmsg {
  color: #ffcc00;
}

.App-sysmsg::before {
  content: '- '
}
