.MsgForm-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MsgForm-input {
  width: 100%;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.MsgForm-inputHolder {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
